#header {
    font-size: 24px;
    background: #cbe6a9;
}

.wrapper {
    background: #bdeeff;
}

h1 {
    font-family: unkempt, serif;
    font-weight: 700;
    margin-left: 40px;
}

button {
    height: 53px;
    border-radius: 10px;
}

#itemList {
    font-family: walter-turncoat, sans-serif;
    font-size: 24px;
    line-height: 2;
    margin-left: 40px;
    font-weight: 700;
}

.line {
	margin: 20px;
	border-bottom: 1px solid #000;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
}